div.preview {
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    padding: 10px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    color: rgb(70, 57, 40);
    font-size: 21px;
    line-height: 32px;
}

div.preview img {
    max-width: 100%;
}

div.preview ul.tags {
    display: flex;
}
div.preview ul.tags li {
    display: block;
    padding: 5px 10px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.075);
    margin-right: 8px;
    font-size: 13px;
    line-height: 22px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
